<h3>Booking Details</h3>
  <div class="col-lg-12">
  <div class="card shadow">
    <div class="card-header">
      <h3><%= @booking.workshop.name%></h3>
    </div>
    <div class="card-body">
      <h3><%= @booking.customer.full_name %> / <%= @booking.customer.email %></h3>
      <p><strong>No.Of tickets:</strong> <%= @booking.no_of_tickets %></p>
      <p><strong>Amount paid:</strong> <%= @booking.amount_paid %></p>
      <h3>Schedule</h3>
      <h4><span class="badge bg-success">From <%= @booking.workshop.start_date%> to <%= @booking.workshop.end_date%></span>
        <span class="badge bg-warning">From <%= @booking.workshop.start_time%> to <%= @booking.workshop.end_time%></span>
      </h4>
    </div>  
  </div>
</div>