<!-- 
<%= form_with url: welcome_trigger_job_path do |f| %>
 <%= f.submit 'Launch job' %>
<% end %>
 -->

<h1>Apps List</h1>
<div class="row card_space">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Workshop App</h5>
        <p class="card-text">Sample booking app.</p>
        <%= link_to "WorkShop", workshop_index_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Sidekiq app</h5>
        <p class="card-text">Sample code to trigger sidekiq job(start all servers).</p>       
        <%= form_with url: welcome_trigger_job_path do |f| %>
          <%= f.submit 'Launch job', class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row card_space">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">FunAPI App</h5>
        <p class="card-text">Sample FunAPI app.</p>
        <%= link_to "FunApi Users", users_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Articles app</h5>
        <p class="card-text">Sample Articles app.</p>
        <%= link_to "Articles", articles_path, class: "btn btn-primary" %>        
      </div>
    </div>
  </div>
</div>

<div class="row card_space">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Scraper App</h5>
        <p class="card-text">Sample Scraper app.</p>
        <%= link_to "Scraper", scraper_index_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Next app</h5>
        <p class="card-text">Sample next app.</p>
        <%#= link_to "Articles", articles_path, class: "btn btn-primary" %>        
      </div>
    </div>
  </div>
</div>