<div class="col-lg-10">
  <div class="card shadow">
    <div class="card-header">
      <h4 class="card-title">Booking Confirmation</h4>
    </div>
    <div class="card-body">
      <h3>Greeting from WebRor</h3>
      <h4>Hello <%= @customer.full_name%></h4>
      <p class="lead">Your booking for <strong><%= @workshop.name %> has been confirmed. Below are the details.</strong></p>
      <h3>Booking details</h3>
      <p><strong>No.Of tickets:</strong> <%= @booking.no_of_tickets %></p>
      <p><strong>Amount paid:</strong> <%= @booking.amount_paid %></p>
      <hr>
      <div class="qrcode">
        <%= @svg.html_safe %>
      </div>
    </div>  
  </div>
</div>