<h1>Listing Workshops</h1>
<% @ws.each do |ws|%>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <%= ws.name %>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= ws.description %></h5>        
        <h4><span class="badge bg-success">From <%= ws.start_date%> to <%= ws.end_date%></span></h4>
        <h4><span class="badge bg-warning">From <%= ws.start_time%> to <%= ws.end_time%></span></h4>
        <%= link_to "Show details", ws, class: "btn btn-primary" %>
      </div>
    </div>
  </div>  
<% end %>