<h3>Details</h3>
<div class="row">
  <div class="col-lg-8">
    <div class="card text-center">
      <div class="card-header">
        <%= @ws.name %>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-7">
            <h5 class="card-title"><%= @ws.description %></h5>
          </div>
          <div class="col-lg-5">
            <h4><span class="badge bg-secondary">Total Sits: <%= @ws.total_sits%></span></h4>
            <h4><span class="badge bg-secondary">Remaining Sits: <%= @ws.remaining_sits%></span></h4>
            <h4><span class="badge bg-secondary">Registration Fee: <%= @ws.registration_fee%></span></h4>
          </div>
        </div>
        <%= link_to "Back", workshop_index_path, class: "btn btn-outline-info" %>
      </div>
      <div class="card-footer text-muted">
        <h4><span class="badge bg-success">From <%= @ws.start_date%> to <%= @ws.end_date%></span>
        <span class="badge bg-warning">From <%= @ws.start_time%> to <%= @ws.end_time%></span></h4>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card shadow">
      <div class="card-body">
        <h4 class="card-title"> Reserve your seat!</h4>
        <%= form_with url: :bookings, data: {turbo: false} do |f| %>

          <%= f.hidden_field :workshop_id, value: @ws.id, class: "wsid" %>
          <div class="form-group">
            <%= f.label :full_name%>
            <%= f.text_field :full_name, class: "form-control", required: true%>
          </div>
          <div class="form-group">
            <%= f.label :email%>
            <%= f.text_field :email, class: "form-control", required: true%>
          </div>
          <div class="form-group">
            <%= f.label :contact_number%>
            <%= f.text_field :contact_number, class: "form-control", required: true%>
          </div>
          <div class="form-group">
            <%= f.label :no_of_sits%>
            <%= f.number_field :no_of_tickets, class: "form-control", required: true, min: 1, max: @ws.remaining_sits %>
          </div>
          <h4 class="card-title">Card details</h4>
          <div class="form-group">
            <%= f.label :card_number%>
            <%= f.text_field :card_number, class: "form-control", required: true%>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <%= f.label :cvv%>
                <%= f.text_field :cvv, class: "form-control", required: true, maxlength:4 %>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <%= f.label :exp_month%>
                <%= f.number_field :exp_month, class: "form-control", required: true, min:1, max: 12 %>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <%= f.label :exp_year%>
                <%= f.number_field :exp_year, class: "form-control", required: true, min:2022, max: 2030 %>
              </div>
            </div>
          </div><br>
          <div class="d-grid gap-2">
            <%= f.submit "Book ticket", class: "btn btn-primary"%>
          </div>
        <% end %>
      </div>
    </div>    
  </div>
</div>
