<h3>Details</h3>
<div class="card text-center">
  <div class="card-header">
    <%= @ws.name %>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-7">
        <h5 class="card-title"><%= @ws.description %></h5>
      </div>
      <div class="col-lg-5">
        <h4><span class="badge bg-secondary">Total Sits: <%= @ws.total_sits%></span></h4>
        <h4><span class="badge bg-secondary">Remaining Sits: <%= @ws.remaining_sits%></span></h4>
        <h4><span class="badge bg-secondary">Registration Fee: <%= @ws.registration_fee%></span></h4>
      </div>
    </div>
    <%= link_to "Back", workshop_index_path, class: "btn btn-outline-info" %>
  </div>
  <div class="card-footer text-muted">
    <h4><span class="badge bg-success">From <%= @ws.start_date%> to <%= @ws.end_date%></span>
    <span class="badge bg-warning">From <%= @ws.start_time%> to <%= @ws.end_time%></span></h4>
  </div>
</div>